<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866002649856-91rg0c02f234bcviskf75sm0obihf9n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866002649856-91rg0c02f234bcviskf75sm0obihf9n1</string>
	<key>API_KEY</key>
	<string>AIzaSyAL7JyzvS8a2WXkoUhOmabFWe3iASWelsc</string>
	<key>GCM_SENDER_ID</key>
	<string>866002649856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-f6580</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-f6580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866002649856:ios:e5bc3674f8fcf55969e9e5</string>
</dict>
</plist>